#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefaee;
    padding: 40px;
}

#gallery h2 {
    font-family: 'Header';
    text-align: center;
    color: #5c5442;
    font-size: 4rem;
    letter-spacing: 10px;
    padding: 0;
    margin: 0;
}

#gallery .gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery .gallery-column {
    flex: 10%;
    padding: 5px;
}

#gallery .gallery-column img {
    vertical-align: middle;
    width: 100%;
    padding: 5px;
}

#gallery .button-note {
    font-family: 'Header';
    text-align: center;
    color: #5c5442;
    margin: 0;
    margin-bottom: 10px;
}

#gallery .gallery-button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0;
}

#gallery .gallery-button {
    font-family: 'Header';
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: rgba(168, 60, 6, 0.6);
    transition: background-color 0.3s;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 0;
}

#gallery .gallery-button:hover {
    background-color: #a83c06;
}

@media (max-width: 1300px) {
    #gallery {
        padding: 10px;
        padding-top: 35px;
    }

    #gallery h2 {
        margin-bottom: 20px;
        font-size: 3rem;
    }

    #gallery .gallery {
        display: unset;
        flex-wrap: nowrap;
    }

    #gallery .gallery-column {
        flex: 40%;
        padding: 0;
    }

    #gallery .gallery-column img {
        padding: 0;
        padding-block: 3px;
        width: 100%;
    }    

    #gallery .button-note {
        display: none;
    }

    #gallery .gallery-button-container {
        display: none;
    }
}