#gifts {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 60px; 
}

#gifts h2 {
    color: #5c5442;
    font-size: 4rem;
    font-family: 'Header';
    letter-spacing: 10px;
    text-align: left;
    margin: 0;
}

.icons {
    width: 20%;
}