/* Reset default margin and padding on body */
body {
    margin: 0;
    padding: 0;
}

/* Reset default margin and padding on the ul and li elements */
ul, li {
    margin: 0;
    padding: 0;
}

/* Style the Home section to cover the entire viewport height */
#home {
    height: 100vh;
    background-color: #FAF1E6; /* Change the background color to your preference */
    text-align: center; /* Center text vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
