#home {
    height: calc(100vh - 300px); /* Shrink the bottom of the image up */
    background-image: url('../Images/home.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 180%;
    border: 40px solid #fff;
}

#home h1, #home h2 {
    opacity: 0;
    color: #fff;
    font-family: 'Header';
    letter-spacing: 10px;
}

#home h1 {
    white-space: pre;
    transition: opacity 2s ease-in-out 2s;
    font-size: 4rem;
    text-align: right;
    text-shadow: 0 0 20px rgba(111,128,124, 0.7);
    position: absolute;
    top: 40px;
    right: 140px;
    padding: 0;
    margin: 0;
}

#home h2 {
    transition: opacity 2s ease-in-out 2s;
    font-size: 2rem;
    text-align: right;
    text-shadow: 0 0 20px rgba(111,128,124, 1);
    position: absolute;
    bottom: 340px;
    right: 140px;
}

#home.h1-visible h1, #home.h2-visible h2 {
    opacity: 1; /* Show the elements */
}

.and-font {
    font-family: 'And';
    font-size: 2rem;
}

/* -------------------------- Smaller devices ----------------------------*/

@media (max-width: 500px) {
    #home {
        border: 0px;
        border-radius: 0px;
        background-position: 48.5% center;
        height: 100vh;
    }

    #home h1 {
        font-size: 5rem;
        margin: 0px;
        padding-top: 30px;
        padding-inline: 20px;
        text-align: center;
    }

    #home h2 {
        font-size: 3.5rem;
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: 0px;
        padding: 0px;
    }
}
