#home {
    display: flex;
    height: calc(100vh - 250px);
    background-image: url('../Images/home1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 120%;
    border: 40px solid #fff;
    justify-content: right;
    align-items: center;
}

#home h1 {
    opacity: 0; /* Hide the elements */
    transition: opacity 2s ease-in-out 2s;
    color: #fff;
    letter-spacing: 10px;
    font-family: 'Header';
    font-size: 4.5rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding-right: 50px;
    text-shadow: 0px 0px 30px rgba(60, 69, 75, 1);
}

#home .and-font {
    font-family: 'And';
    font-size: 2rem;
}

#home .date {
    font-size: 2rem;
    font-weight: 400;
}

#home #countdown {
    font-family: 'Header';
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    padding-block: 12px;
}

#home.h1-visible h1 {
    opacity: 1; /* Show the elements */
}

/* -------------------------- Smaller devices ----------------------------*/

@media (max-width: 1300px) {
    #home {
        height: 100vh;
        background-image: url('../Images/home2.JPG');
        background-position: center center;
        justify-content: center;
        transform: scale(1);
        border: 0;
    }

    #home h1 {
        font-size: 3rem;
        font-weight: 550;
        padding: 0;
        padding-bottom: 80px;
    }

    #home .and-font {
        font-size: 1.3rem;
    }

    #home #countdown {
        font-size: 1.3rem;
    }

    #home .date {
        font-size: 1.2rem;
        font-weight: 500;
    }
}
