 #info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px; 
    padding-bottom: 0;
}

#info h2 {
    color: #5c5442;
    font-size: 4rem;
    font-family: 'Header';
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
}

#info h3 {
    color: #5c5442;
    font-size: 2.5rem;
    font-family: 'Header';
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#info .location-name {
    font-size: 1.2rem;
    letter-spacing: normal;
}

#info .large-screen {
    display: block;
}

#info .small-screen {
    display: none;
}

/* -------------------------- Location Info -------------------------- */

#info .location-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

#info .location-container p {
    flex: 1;
    font-family: 'header';
    font-size: 1.3rem;
    color: #5c5442;
    text-align: center;
    line-height: 25pt;
    box-shadow: 0 0 10px rgba(168, 60, 6, 0.8);
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}

#info .location-container iframe {
    flex: 2; 
    border: 0;
    margin: 20px;
}  

/* -------------------------- Itinerary -------------------------- */

#info table {
    border-collapse: collapse;
    margin: 20px;
    margin-bottom: 60px;
}

#info th, #info td {
    white-space: normal;
    word-wrap: break-word;
    border: 1px solid #ddd;
    color: #5c5442;
    font-family: 'Header';
    font-size: 1.3rem;
    padding: 7px;
}

#info th {
    text-align: center;
    background-color: rgba(168, 60, 6, 0.4);
}

#info td {
    text-align: left;
}

#info tr:hover {
    background-color: rgba(168, 60, 6, 0.1);
}

/* -------------------------- Lodging -------------------------- */

#info .lodging-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

#info .quadrant {
    margin: 20px;
    margin-inline: auto;
    text-align: center;
    font-family: 'header';
    font-size: 1.3rem;
    color: #5c5442;
}

#info .hotels {
    text-decoration: none;
    color: #5c5442;
}

#info .hotels:hover {
    color: #a83c06;
    font-weight: bolder;
}

#info .note {
    font-family: 'Header';
    color: #5c5442;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

/* -------------------------- Wedding party -------------------------- */



/* -------------------------- Smaller devices -------------------------- */

@media (max-width: 1300px) {
    #info {
        padding: 10px;
        padding-top: 40px;
    }
    
    #info h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    #info h3 {
        display: block;
        text-align: center;
        font-size: 1.6rem;
        padding-top: 30px;
    }

    #info .location-name {
        display: block;
        text-align: center;
        font-size: 1rem;
        padding-block: 10px;
    }

    #info .large-screen {
        display: none;
    }
    
    #info .small-screen {
        display: block;
    }

    /* -------------------------- Location Info -------------------------- */

    #info .location-container {
        display: block;
        margin: 0;
        flex-wrap: unset;
    }

    #info .location-container p {
        font-size: 1rem;
        line-height: 18pt;
        padding: 10px;
        margin: 0;
    }

    #info .location-container iframe {
        height: 300px;
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }  

    /* -------------------------- Itinerary -------------------------- */

    #info table {
        margin: 0;
        margin-top: 10px;
    }

    #info th, #info td {
        font-size: 1rem;
        padding: 5px;
    }

    /* -------------------------- Lodging -------------------------- */

    #info .lodging-container {
        margin: 0;
    }

    #info .quadrant {
        width: 350px;
        font-size: 1rem;
        padding: 0;
        margin: 10px;
    }

    #info .note {
        margin: 0;
        margin-top: 20px;
    }

    /* -------------------------- Wedding party -------------------------- */

    
}