#info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 60px; 
}

#info h2 {
    color: #5c5442;
    font-size: 4rem;
    font-family: 'Header';
    letter-spacing: 10px;
    text-align: right;
    margin: 0;
}

#info h3 {
    color: #5c5442;
    font-size: 2.5rem;
    font-family: 'Header';
    letter-spacing: 10px;
    text-align: left;
    margin: 40px;
    margin-left: 20px;
}

.location-name {
    font-family: 'Header';
    font-size: 1.2rem;
    letter-spacing: normal;
}

.location-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin-bottom: 40px;
    margin-inline: 60px;
}
  
.location-container p {
    flex: 1; /* Allow the iframe to grow as the window size decreases */
    font-family: 'header';
    font-size: 1.2rem;
    color: #5c5442;
    text-align: center;
    box-shadow: 0 0 10px rgba(167, 77, 0, 0.8);
    padding: 40px;
    margin: 20px;
}
  
.location-container iframe {
    flex: 2; 
    height: auto;
    width: 100%;
    border: 0;
    margin: 20px;
}  

table {
    width: 85%; /* Make the table width 100% of its container */
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words if necessary */
    border: 1px solid #ddd;
    color: #5c5442;
    font-family: 'Header';
    font-size: 1.2rem;
    padding: 5px;
}

th {
    background-color: rgba(167, 77, 0, 0.3);
}

tr:hover {
    background-color: rgba(167, 77, 0, 0.1);
}

.table-note {
    font-family: 'Header';
    color: #5c5442;
    text-align: center;
}

.accommodations-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; /* Adjust the gap as needed */
}
  
.quadrant {
    margin: 40px;
    margin-inline: 135px;
    text-align: center;
    font-family: 'header';
    font-size: 1.2rem;
    color: #5c5442;
}

.top-left {
    grid-column: 1;
    grid-row: 1;
}

.top-right {
    grid-column: 2;
    grid-row: 1;
}

.bottom-left {
    grid-column: 1;
    grid-row: 2;
}

.bottom-right {
    grid-column: 2;
    grid-row: 2;
}

.hotels {
    text-decoration: none;
    color: #5c5442;
}

.hotels:hover {
    color: #a74d00;
    font-weight: bolder;
}
 

@media (max-width: 500px) {
    #info {
        padding: 10px;
    }

    #info h2 {
        padding-top: 0px;
        font-size: 3.5rem;
        margin-bottom: 0px;
        text-align: center;
    }
}