 #info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px; 
}

#info h2 {
    font-family: 'Header';
    color: #5c5442;
    text-align: right;
    font-size: 4rem;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
}

#info h3 {
    font-family: 'Header';
    color: #5c5442;
    text-align: left;
    font-size: 2.5rem;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
}

/* -------------------------- Color Code -------------------------- */

#info .color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    margin-bottom: 40px;
}

#info .color-quadrant {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-inline: 30px;
}

/* -------------------------- Location Info -------------------------- */

#info .location-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#info .location-container p {
    flex: 1;
    font-family: 'Header';
    font-size: 1.3rem;
    color: #5c5442;
    text-align: center;
    line-height: 25pt;
    box-shadow: 0 0 10px rgba(168, 60, 6, 0.8);
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}

#info .google-maps {
    position: relative;
    overflow: hidden;
    flex: 2;
    margin-block: 20px;
    margin-right: 20px;
}

#info iframe {
    z-index: 100;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    border: 0;
}  

/* -------------------------- Lodging -------------------------- */

#info .lodging-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

#info .lodge-quadrant {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center text horizontally */
    text-align: center;
    font-family: 'Header';
    color: #5c5442;
    width: 325px;
    padding: 0;
    padding-inline: 20px;
    margin: 0;
}

#info .hotels-button {
    z-index: 100;
    font-family: 'Header';
    background-color: #fff;
    color: #5c5442;
    font-size: 1.3rem;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 10px 20px;
    margin: 5px;
}

#info .hotels-button:hover {
    color: #a83c06;
    font-weight: bolder;
}

#info .note {
    font-family: 'Header';
    color: #5c5442;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

/* -------------------------- Itinerary -------------------------- */

#info table {
    border-collapse: collapse;
    margin: 20px;
    margin-bottom: 0;
}

#info th, #info td {
    font-family: 'Header';
    font-size: 1.3rem;
    white-space: normal;
    word-wrap: break-word;
    border: 1px solid #ddd;
    color: #5c5442;
    padding: 7px;
}

#info th {
    text-align: center;
    background-color: rgba(168, 60, 6, 0.4);
}

#info td {
    text-align: center;
}

#info tr:hover {
    background-color: rgba(168, 60, 6, 0.1);
}

@media (max-width: 1300px) {
    #info {
        padding: 10px;
        padding-top: 35px;
    }
    
    #info h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    #info h3 {
        text-align: center;
        font-size: 1.6rem;
        padding-top: 30px;
    }

    /* -------------------------- Color Code -------------------------- */

    #info .color-container {
        margin: 0;
    }

    #info .color-quadrant {
        margin-inline: 10px;
        margin-top: 10px;
    }

    /* -------------------------- Location Info -------------------------- */

    #info .location-container {
        display: block;
        flex-wrap: unset;
        margin: 0;
        margin-top: 15px;
    }

    #info .location-container p {
        font-size: 1rem;
        line-height: 18pt;
        padding: 10px;
        margin: 0;
    }

    #info .google-maps {
        flex: unset;
        margin: 0;
        margin-top: 10px;
        height: 300px;
    }

    /* -------------------------- Lodging -------------------------- */

    #info .lodging-container {
        margin: 0;
    }

    #info .lodge-quadrant {
        font-size: 1rem;
        padding: 0;
    }

    #info .hotels-button {
        font-size: 1rem;
    }

    #info .note {
        margin: 0;
        margin-block: 10px;
    }

    /* -------------------------- Itinerary -------------------------- */

    #info table {
        margin: 0;
        margin-top: 10px;
    }

    #info th, #info td {
        font-size: 1rem;
        padding: 5px;
    }
}