nav {
    background: transparent;
    padding: 9px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 30px;
}

nav a {
    text-decoration: none;
    color: #5c5442;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #a74d00;
}

/* -------------------------- Smaller devices ----------------------------*/

@media (max-width: 500px) {
    nav {
        padding: 5px;
    }
    
    nav ul {
        text-align: center;
    }

    nav li {
        margin: 0 20px;
    }

    nav a {
        font-size: 16px;
    }
}