.top-blurred-bar {
    position: absolute;
    width: 100%;
    background: linear-gradient(#fff, #fefaee);
    height: 40px;
}

.bottom-blurred-bar {
    position: absolute;
    width: 100%;
    background: linear-gradient(#fefaee, transparent);
    height: 40px;
}

footer {
    color: #5c5442;
    background-color: #fefaee;
    text-align: left;
    padding: 10px;
}

/* ---------- Font CSS ---------- */

@font-face {
    font-family: 'Header';
    src: url('../Fonts/CaviarDreams.ttf') format('truetype'),
    url('../Fonts/CaviarDreams.woff') format('woff');
}

@font-face {
    font-family: 'And';
    src: url('../Fonts/Your-Beloved.ttf') format('truetype'),
    url('../Fonts/Your-Beloved.woff') format('woff');
}