#registry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    padding-bottom: 0;
}

#registry h2 {
    color: #5c5442;
    font-size: 4rem;
    font-family: 'Header';
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#registry .registry-container {
    margin: auto;
}

#registry .registry-container p {
    font-size: 1.3rem;
    line-height: 25pt;
    font-family: 'header';
    color: #5c5442;
    text-align: center;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    margin-block: 40px;
    box-shadow: 0 0 10px rgba(168, 60, 6, 0.8);
    background-color: #fff;
}

#registry .registry-button-container {
    display: flex;
    justify-content: center;
}

#registry .registry-button {
    font-family: 'Header';
    background-color: rgba(168, 60, 6, 0.6);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#registry .registry-button:hover {
    background-color: #a83c06;
}

/* -------------------------- Smaller devices -------------------------- */

@media (max-width: 1300px) {
    #registry {
        padding: 10px;
        padding-block: 35px;
        padding-bottom: 0;
    }

    #registry h2 {
        font-size: 3rem;
    }

    #registry .registry-container {
        padding: 0;
    }
    
    #registry .registry-container p {
        font-size: 1rem;
        line-height: 18pt;
        padding: 10px;
        margin-block: 20px;
        width: unset;
    }

    #registry .registry-button {
        z-index: 100;
    }
}