#story {
    display: flex;
    background-color: #fefaee;
    justify-content: space-evenly;
    padding: 40px;
    padding-bottom: 0;
}

#story img {
    max-height: 650px;
    border-top-left-radius: 220px 220px;
    border-top-right-radius: 220px 220px;
    filter: brightness(130%);
}

#story .story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

#story h2 {
    font-family: 'Header';
    color: #5c5442;
    font-size: 4rem;
    letter-spacing: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

#story .story-container p {
    font-family: 'Header';
    color: #5c5442;
    font-size: 1.3rem;
    line-height: 25pt;
    text-align: center;
    box-shadow: 0 0 10px rgba(168, 60, 6, 0.8);
    background-color: #fff;
    padding: 20px;
    margin: 0;
}

@media (max-width: 1300px) {
    #story {
        padding: 10px;
        padding-top: 35px;
        justify-content: unset;
    }

    #story img {
        display: none;
    }

    #story .story-container {
        width: 100%;
        padding-bottom: 10px;
    }

    #story h2 {
        font-size: 3rem;
    }

    #story .story-container p {
        font-size: 1rem;
        line-height: 18pt;
        padding: 10px;
    }
}