#story {
    display: flex;
    background-color: #f2efe8;
    padding: 40px;
}

#story h2 {
    color: #5c5442;
    font-size: 4rem;
    font-family: 'Header';
    letter-spacing: 10px;
    margin: 0;
    padding-top: 60px;
}

.story-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Allow the content to take the available space */
    padding: 0 20px;
}

.story-content p {
    font-size: 1.2rem;
    font-family: 'header';
    color: #5c5442;
    max-width: 90%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(167, 77, 0, 0.8);
    background-color: #fdfcfa;
    margin-top: 80px;
}

.arch-frame {
    max-width: 28%;
    border-top-left-radius: 220px 220px;
    border-top-right-radius: 220px 220px;
    margin-inline: 40px;
}

.top-blurred-bar {
    position: absolute;
    width: 100%;
    background: linear-gradient(#fff, #f2efe8);
    height: 20px;
}

.bottom-blurred-bar {
    position: absolute;
    width: 100%;
    background: linear-gradient(#f2efe8, #fff);
    height: 20px;
}

@media (max-width: 500px) {
    #story {
        padding: 10px;
    }

    #story h2 {
        padding-top: 0px;
        font-size: 3.5rem;
        margin-bottom: 0px;
        text-align: center;
    }

    #story p {
        font-size: 1.4rem; 
        max-width: 100%; 
        text-align: center;
        margin: 10px;
        border: 1px solid #a74d00;
        border-left: 2px solid #a74d00;
    }

    .arch-frame {
        display: none;
    }
}